html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#page-content {
  flex: 1;
}

#header {
  background-color: #feded0;
}
#header h1 {
  margin: 0;
  padding: 16px;
}
#validator h2 {
  margin: 0;
  font-size: 18px;
}
#validator h2, #validator button {
  margin-bottom: 15px;
}
#validator {
  width: 100%;
  padding: 10px;
  display: flex;
}
#main-left {
  width: 50%;
  padding: 6px;
}
#main-right {
  width: 50%;
  padding: 6px;
}

#main-right pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

#validate-json {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 13px;
  white-space: pre;
  word-wrap: normal;
  height: calc(100vh - 300px);
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  background-color: #feded0;
  padding: 16px;
}
footer a {
  color: #900000;
}
footer a:hover {
  color: #c00000;
}
